body {
	background-color: #E9E9E9;
}
h1 {
	color: #1178D8;
	text-shadow: 0 0 3px #ADADAD;
	text-align: center;
	margin-top: 50px;
}
#container {
	width: 30%;
	min-width: 300px;
	-webkit-box-shadow: 0 0 3px 2px #666666;
	box-shadow: 0 0 3px 2px #666666;
	text-align: center;
	padding: 10px;
	background-color: #FFF;
	margin: 50px auto;
}
#container input[type=submit] {
	border: none;
	margin: 20px auto;
	display: block;
	background: #7abcff;
	background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
	background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
	background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
	background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
	background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%);
	padding: 10px 20px;
	border: 1px solid #999;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#container #log {
	font-size: 12px;
	width: 90%;
	overflow: auto;
	height: 50px;
	background-color: #000;
	color: #FFF;
	margin: 20px auto;
	text-align: left;
	padding: 10px;
}
#container #link {
	font-weight: bold;
	color: #53ACED;
}